.mytable{
    border: 1px solid red;
    color: blueviolet;
}
/*table tr td{*/
    /*color: red;*/
/*}*/
p.mytest{
    color: red;
    font-size: 12px;
    border: 1px solid blueviolet;
}
/*.carousel-inner > .item > img {*/
  /*width:100%; !* Or try to use important *!*/
  /*height:auto;*/
/*}*/