<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<title>岁月并非如歌</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body{
            padding-top: 50px;
        }
        .start{
            padding: 40px 15px;
            text-align: center;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
{#           <div class="navbar-header">#}
{#               <a href="#" class="navbar-brand">岁月并非如歌</a>#}
{#           </div>#}
            <div id="navbar" class="collapse navbar-collapse">
                <ul class='nav navbar-nav'>
                    <li class="active"><a href="{% url "users:index" %}">主页</a></li>
                    <li><a href="{% url "users:recommend" %}">推荐</a></li>
                    <li><a href="{% url "users:hot" %}">热点</a></li>
                    <li><a href="#">科技</a></li>
                    <li><a href="#">互联网</a></li>
                    <li><a href="#">我的博文</a></li>
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Search">
                        </div>
                {#        <button type="submit" class="btn btn-default">Submit</button>#}
                        <button type="submit" class="btn btn-default glyphicon glyphicon-search"></button>
                    </form>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% block login %}
                    {% endblock %}
                </ul>
            </div>
        </div>
     </nav>
<div class="container">
    <div class="start">
        {% block content %}
            <h1>这是主页</h1>
            <p class="lead">岁月并非如歌</p>
        {% endblock %}
{#        <h1>Bootstrap starter template</h1>#}
{#        <p class="lead">岁月并非如歌</p>#}
    </div>
</div>
</body>
</html>
