{% extends 'users/index.html' %}
{% block content %}
    <p> 标题本周热门项目
    苹果发布SwiftUI

    苹果在 WWDC 上发布了全新的 UI 框架——SwiftUI。跟据官网介绍，SwiftUI 基于 Swift 语言，使用一组工具和 API 可在所有的苹果平台上构建用户界面。由于 SwiftUI 拥有易读、自然编写的声明式 Swift 语法，可以与 Xcode 协同进行代码设计。SwiftUI 具有自动支持动态类型、暗黑模式、本地化和可访问性的特点。大会现场，Craig Federighi 亲自演示了如何用 SwiftUI 将一百行代码简化为十几行。

    新版macOS默认shell将使用zsh

    WWDC 大会，苹果在发布新版 macOS Catalina 的同时，macOS 系统的一项重大变化也在悄然发生——zsh 已取代 bash 成为新版操作系统中的默认 shell，开发者们终于可以在终端里直接安装 oh-my-zsh 了。尽管 Bash 目前仍然可用，但苹果的一个技术支持页面已经在指导开发者们准备迁移到 zsh，因为 Bash 最终将被移除。据猜测，苹果这一决定或与新版 bash 的 GPLv3 协议有关。

    Google开源TensorNetwork，GPU处理提升100倍！

    Google X Lab 与加拿大 Perimeter 理论物理研究所的研究人员合作开发了TensorNetwork（ GitHub），以 TensorFlow 作为后端，针对 GPU 处理进行了优化。相比于单纯基于 CPU 的计算工作，TensorNetwork 可以实现高达 100 倍的加速。据悉，研究人员已经发布了两篇论文来详细阐述 TensorNetwork 的概念、特性以及应用特例（论文1；论文2）。

    MIT新课程：突破Google面试

    MIT 的学霸们也需要掌握去 Google 的编程面试解题技巧！2019 年春季学期，MIT 在 32-124 教室推出了一门“突破 Google 面试（Hacking a Google Interview）”，帮助 MIT 学霸们深度分析 Google 常见的技术面试题目并演练相关的面试环节。你可以从这里下载 MIT 这一面试课程的材料。

    1000多万中国大陆工商企业的注册信息库

    有人爬取了网络上公开的、非隐私的、不属于著作权保护范围的企业注册信息，整理出一个中国大陆 31 个省份 1978 年至 2019 年 1000 多万工商企业注册信息库，包含企业名称、注册地址、统一社会信用代码、地区、注册日期、经营范围、法人代表、注册资金、企业类型等详细资料。数据以 CSV 、Excel 及 JSON 三种文件类型存储，相应文件分别保存在 Enterprise-Registration-Data/csv、Enterprise-Registration-Data/xls、Enterprise-Registration-Data/json 三个分支中。其中 CSV 与 Excel 的格式为：企业名称、统一社会信用代码、注册日期、企业类型、法人代表、注册资金、经营范围、所在省份、地区、注册地址，编码格式为 UTF-8。

    本周热点内容
    中国正式进入 5G 商用元年！
    </p>
{% endblock %}